/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


/* HEADER */

.content {
  position: relative;
  flex-grow: 1;
  background: #444;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.header-top .logo  {
  flex-basis: 70%;
}

.header-top .logo img {
  max-width: 70px;
  margin-top: 3px;
  margin-left: 10px;
}

.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 30%;
  margin-right: 15px;
}

.search input {
  width: 250px;
  height: 25px;
  padding-left: 20px;
  vertical-align: middle;
  font-size: 15px;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 15px;
  color: #cd0918;
  background: #181d2a;
}

.btn {
  width: 65px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  margin-left: 15px;
  background: #181d2a;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  color:#cd0918;
  line-height: 25px;
}


.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 15px;
  list-style: none;
  background: #181d2a;
  min-height: 100vh;
}

.collection .movies {
  margin-top: 30px;
  flex-basis: 150px;
  margin: 15px 25px;
  padding: 25px;
  text-align: center;
  color: white;
}

.collection .imgUrl {
  min-height: 150px;
}

.collection .title {
  font-size: 21px;
  text-transform: uppercase;
}

.collection .original-title{
  margin-bottom: 8px;
  font-size: 17px;
}

.backdrop {
  opacity: 0;
}

span img {
  max-width: 20px;
  max-height: 30px;
}







