<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">

    <title>Boolflix</title>
</head>
<body>


  <div id="app">
    <div class="content">
      <header class="header-top">

        <!-- Logo -->
        <div class="logo">
          <img src="./img/netflix-icon-26.png" alt="">
        </div>
        
        <!-- Search bar -->
        <div class="search">
          <div class="search-wrapper">
            <input type="text"
              v-model="searchBar"
              @keyup.enter="getFilter"
              placeholder="Cerca un film o una serie tv">
          </div>
  
          <!-- Button -->
          <div @click="getFilter"
              class="btn"> Enter </div>
        </div>
      </header>

          <!-- Selection genre -->
      <!-- <div class="filter">Filter by genre
        <select v-model="activeGenre" @change="getGenre">
          <option value="all">All</option>
        </select>
      </div> -->

      <div>
        <div class="list-movies">
          <ul class="collection">
            <!-- Ciclo for movies/series API -->
            <li class="movies" v-for="element in all">
              <div>
                <img v-if="element.imgUrl"
                class="imgUrl"
                :src="element.imgUrl"/>

                <img v-else
                  src="https://www.altavod.com/assets/images/poster-placeholder.png"/>
                <!-- <img class="backdrop"
                :src="element.backdrop" alt=""> -->
                <img class="description"
                :src="element.description" alt="">
  
              </div>
              <h3 class="title">Titolo: {{element.title}}</h3>
              <h3 class="original-title">Titolo originale: {{element.orig_title}}</h3>
              <h4 class="language"></h4>
                <span 
                v-if="element.language === 'en' ||
                element.language === 'en-EN'">
                <img src="./img/en.png" alt="en">
                </span>
                
                <span 
                v-else-if="element.language === 'it' ||
                element.language === 'it-IT'">
                <img src="./img/it.png" alt="it">
                </span>
                
                <span 
                v-else>
                <p>{{element.language}}</p>
                </span> 
  
                <!-- Votazione film -->
                <div class="votes"> Stars:
                  <i 
                  v-for="n in getStar(element.rating)" 
                  class="fas fa-star"></i>
                  <i 
                  v-for="n in 5 - getStar(element.rating)"
                  class="far fa-star"></i>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js'></script>
  <script src="./js/main.js"></script>
</body>
</html>